<md-input-container>
	<div layout-margin>{{questionCtrl.question.text}}</div>
	<div layout="row">
		<div layout-margin layout="row" layout-align="space-between start" flex>
			<div class='md-whiteframe-z1'>
				<div layout-padding ng-repeat="target in questionCtrl.targets" layout="row">
					<div layout-margin layout-padding class='md-whiteframe-z1'
						 md-style-color="{'background-color': 'primary.200'}">
						{{target.text}}
					</div>
					<div class='md-whiteframe-z1' dragula='"qz-bag-link"' dragula-model='target.items'
						 style="min-width: 5em; min-height: 1em;">
						<div ng-repeat='tgItem in target.items'>
							<div layout-margin layout-padding md-style-color="{'background-color': 'accent.100'}"
								 style="text-align: center; height: 1em;" class='md-whiteframe-z1'
								 ng-class="{valid : questionCtrl.result && tgItem.score > 0, invalid : questionCtrl.result && tgItem.score <= 0}">
								{{tgItem.text}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div layout-padding class='md-whiteframe-z1' dragula='"qz-bag-link"' dragula-model='questionCtrl.source'
				 style="min-width: 10em; min-height: 1em;">
				<div style="text-align: center; height: 2em;" class='md-whiteframe-z1'
					 md-style-color="{'background-color': 'accent.100'}"
					 ng-repeat='tgItem in questionCtrl.source'>
					<div layout-margin layout-padding>
						{{tgItem.text}}
					</div>
				</div>
			</div>
		</div>
		<div flex>
		</div>
	</div>
	<!--<pre>{{questionCtrl | json}}</pre>-->
</md-input-container>
