<md-input-container ng-init="questionCtrl.answer = [];">
	<div>{{questionCtrl.question.text}}</div>
	<md-checkbox
			ng-init="questionCtrl.answer[$index] = false;"
			ng-repeat="answer in questionCtrl.question.answers"
			ng-click="(questionCtrl.result) || questionCtrl.util.multi.toggle($index)"
			ng-class="{valid : questionCtrl.result && answer.score > 0, invalid : questionCtrl.result && answer.score <= 0}"
			ng-checked="questionCtrl.util.multi.checked($index)">
		{{answer.text}}
	</md-checkbox>
</md-input-container>
